Package: com.m4cs-dev.simalary.control-center.ezsecretsettings
Name: EzSecretSettings
Version: 1.0
Architecture:iphoneos-arm
Description: A button to show the hidden SpringBoard settings from Control Center.
Maintainer: M4cs (macs@m4cs.xyz)
Author: Simalary (Chris Harper)
Section: Control Center 
Conflicts:
Replaces: 
Depends: com.ioscreatix.silo, mobilesubstrate
Filename: ./debs/EzSecret.deb
Size: 7870
MD5sum: b73a3bc1df751aac32878049f7d2622c
Depiction: https://M4cs-Development.github.io/repo/depictions/?p=ezSecretSettings

