Package: ezccmodules.control-center.ezcc
Version: 0.0.4
Section: Control Center
Maintainer: M4cs <macs@m4cs.xyz>
Depends: mobilesubstrate, com.ioscreatix.silo
Conflicts: com.m4cs.control-center.ezreboot, com.m4cs-dev.simalary.control-center.ezsecretsettings, com.clarke1234.ezcydiaopener
Architecture: iphoneos-arm
Filename: ./debs/EzCC.deb
Description: Complete Package for EzCC. Will be adding toggles to this packages only form now on!
Name: EzCC
Author: M4cs, Simalary, Chilaxan, MidnightChips, Clarke1234, 5px
Depiction: https://M4cs-Development.github.io/repo/depictions/?p=ezCC
