Package: pro.evanwalters.noblurfolderconxi
Name: NoBlurFolderIconXI
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Removes the blurry background on folder icons, fucks up the dock right now
Maintainer: Evan Walters
Author: Evan Walters
Section: Tweaks
Conflicts: com.laughingquoll.noctisxi
Version: 0.2
Installed-Size: 120
