Package: com.simalary.lift
Name: Lift
Depends: mobilesubstrate, firmware(>=11.0)
Architecture: iphoneos-arm
Description:Move those silly little Control Center slider icons to the top.
Maintainer: Simalary (Chris Harper)
Author: Simalary (Chris Harper)
Section: Tweaks
Version: 1.0
Installed-Size: 117
