Package: com.simalary.auxiliumdevelopment.ezpoweroptionsmodule
Name: EzPowerOptionsModule
Architecture: iphoneos-arm
Description: Show power options in Control Center
Author: Simalary (Chris Harper)
Section: Control Center (Modules)
Depends: mobilesubstrate, com.ioscreatix.silo, firmware (>= 11)
Maintainer: Simalary (Chris Harper)
Version: 1.0
Installed-Size: 84
